@model IEnumerable<PFinal_v2.Models.Departamento>

@{
    ViewData["Title"] = "Index";
}

<style>
.custom-table {
        border-radius: 5px; /* Cantos mais arredondados */
        overflow: hidden;
        background-color: #f2f2f2; /* Cor de fundo da tabela */
        border-bottom: 2px solid #A76C38;
}
</style>


<h2 style="margin-bottom: 40px;">Departamentos cadastrados</h2>

<div class="container">
    <div class="row">

        <div class="col-11">
            <form asp-controller="Departamentos" asp-action="Index">
                <div class="form-group mt-3">
                    <input type="text" name="SearchString" id="searchString" placeholder="Nome" class="custom-search-input" />
                    <button type="submit" class="custom-filter-button">
                        <i class="bi bi-search"></i>
                    </button>
                    <button type="button" id="limparFiltro" class="custom-filter-button">
                        <i class="bi bi-x-lg"></i>

                    </button>
                </div>
            </form>
        </div>

        <div class="col-1 mt-3 d-flex justify-content-end">
            <p>
                <a asp-action="Create">
                    <button type="submit" class="custom-filter-button">
                        <i class="bi bi-building-add"></i>
                    </button>
                </a>
            </p>
        </div>
    </div>

    <table class="table">
        <table class="table custom-table" style="margin-top: 40px;">
            <thead>
                <tr>
                    <th scope="col" class="text-center">ID</th>
                    <th scope="col" class="text-center">Nome</th>
                    <th scope="col" class="text-center">Funcionários</th>
                    <th scope="col" class="text-center">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.DepartamentoId)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.QuantidadeFuncionarios)
                        </td>
                        <td class="text-center">
                            <div class="icons-container" style="justify-content: center;">
                                <a class="icon-edit" asp-action="Edit" asp-route-id="@item.DepartamentoId"><i class="bi bi-pencil custom-white-icon"></i></a>  &nbsp;
                                <a asp-action="Details" asp-route-id="@item.DepartamentoId"><i class="bi bi-search custom-white-icon"></i></a>  &nbsp;
                                <form id="deleteForm_@item.DepartamentoId" asp-action="Delete" method="post">
                                    <input type="hidden" name="id" value="@item.DepartamentoId" />
                                    <a>
                                        <i onclick="openConfirmationModal('@item.DepartamentoId'); return false;" class="bi bi-trash custom-white-icon"></i>
                                    </a>
                                </form>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="modal" id="confirmModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirmação de Exclusão</h5>
                        <button type="button" class="close" data-dismiss="modal" onclick="cancelChanges()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Deseja realmente excluir este Departamento?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancelChanges()">Cancelar</button>
                        <button type="button" class="btn btn-danger" id="confirmDeleteButton">Confirmar</button>
                    </div>
                </div>

            </div>



        </div>

        <a href="@Url.Action("Index", "Admin")" class="custom-filter-button ml-2" style="margin-bottom: 40px;">Voltar</a>

</div>
</div>




<div class="modal" id="confirmModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirmação de Exclusão</h5>
                <button type="button" class="close" data-dismiss="modal" onclick="cancelChanges()">&times;</button>
            </div>
            <div class="modal-body">
                <p>Deseja realmente excluir este Departamento?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cancelChanges()">Cancelar</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteButton">Confirmar</button>
            </div>
        </div>
    </div>
</div>


<script>
    function openConfirmationModal(departamentoId) {
        $('#confirmModal').modal('show'); // Abre o modal de confirmação
        $('#confirmDeleteButton').click(function () {
            submitDeleteForm(departamentoId); // Chama a função para enviar o formulário de exclusão ao clicar em "Confirmar"
        });
    }

    function submitDeleteForm(departamentoId) {
        $('#deleteForm_' + departamentoId).submit(); // Envia o formulário de exclusão com o ID do departamento
    }

    function cancelChanges() {
        $('#confirmModal').modal('hide');
    }

    // Seleciona o botão de limpar filtro
    var limparFiltroBtn = document.getElementById('limparFiltro');

    // Adiciona um evento de clique ao botão de limpar filtro
    limparFiltroBtn.addEventListener('click', function () {
        // Limpa o valor do campo de texto
        document.getElementById('searchString').value = '';
        // Redireciona para a mesma página sem parâmetros de filtro
        window.location.href = '/Departamentos/Index';
    });

</script>