@model PFinal_v2.Models.Dia

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WbsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WbsId)
        </dd>
     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Horas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Horas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DiaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
