@model PFinal_v2.Models.ViewModels.RelatorioFiltroViewModel

@{
    ViewData["Title"] = "Relatório de WBS (Geral)";
}

<h1>Relatório de WBS (Geral)</h1>

@using (Html.BeginForm("RelatorioTotal", "Dias", FormMethod.Get))
{
    <div class="container">
        <div class="row">
            <div class="col-3 form-group mt-4">
                <input type="month" name="mes" id="mes" class="form-control" value="@Model.Mes" />
            </div>
            <div class="col-3 form-group mt-4">
                <select name="quinzena" id="quinzena" class="form-control">
                    <option value="1" selected="@((Model.Quinzena == 1) ? "selected" : null)">1ª</option>
                    <option value="2" selected="@((Model.Quinzena == 2) ? "selected" : null)">2ª</option>
                </select>
            </div>
            <div class="col-3 form-group mt-4">
                <select name="tipoAgrupamento" id="tipoAgrupamento" class="form-control">
                    <option value="Wbs" selected="@((Model.TipoAgrupamento == "Wbs") ? "selected" : null)">WBS</option>
                    <option value="Localizacao" selected="@((Model.TipoAgrupamento == "Localizacao") ? "selected" : null)">Localização</option>
                    <option value="Ambos" selected="@((Model.TipoAgrupamento == "Ambos") ? "selected" : null)">WBS e Localização</option>
                </select>
            </div>
            <div class="col-2 mt-4">
                <button type="submit" class="custom-filter-button">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </div>
}

@if (Model.Relatorio != null && Model.Relatorio.Any())
{
    <table class="table table-sm">
        <thead>
            <tr>
                @if (Model.TipoAgrupamento == "Localizacao")
                {
                    <th>Local de Trabalho</th>
                }
                else
                {
                    <th>Código</th>
                    <th>Descrição</th>
                    <th>Chargeability</th>
                    @if (Model.TipoAgrupamento == "Ambos")
                    {
                        <th>Local de Trabalho</th>
                    }
                }
                <th>Horas Totais</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Relatorio)
            {
                <tr>
                    @if (Model.TipoAgrupamento == "Localizacao")
                    {
                        <td>@item.LocalTrabalho</td>
                    }
                    else
                    {
                        <td>@item.Codigo</td>
                        <td>@item.Descricao</td>
                        <td>@item.Tipo</td>
                        @if (Model.TipoAgrupamento == "Ambos")
                        {
                            <td>@item.LocalTrabalho</td>
                        }
                    }
                    <td>@item.HorasTotais</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="form-group mt-3">
        <a href="@Url.Action("ExportarRelatorio", new { mes = Model.Mes, quinzena = Model.Quinzena, tipoAgrupamento = Model.TipoAgrupamento })" class="custom-filter-button">Exportar para Excel</a>
    </div>
}
else
{
    <p>Nenhum resultado encontrado.</p>
}

<div class="form-group mt-3">
    <a href="@Url.Action("Index", "Admin")" class="custom-filter-button">Voltar</a>
</div>