@model PFinal_v2.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<style>
    .rounded-form {
        border-radius: 20px; /* Define o raio de arredondamento dos cantos */
        background-color: #f2f2f2; /* Define a cor de fundo do formulário */
        padding: 20px; /* Adiciona espaçamento interno ao redor do formulário */
    }

    .rounded-button {
        border-radius: 10px; /* Define o raio de arredondamento dos cantos */
    }

    .custom-card-header {
        background-color: #f2f2f2; /* Define a cor de fundo */
    }

    .table.custom-table td {
        word-wrap: break-word;
    }

    .centered-table {
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="container">
    <div class="container d-flex align-items-center justify-content-center" style="min-height: 80vh;">
        <div class="col-md-4">
            <div class="card rounded-form">
                <div class="card-header custom-card-header text-center font-weight-bold" style="font-size: 24px;"><strong>Detalhes</strong></div>
                <div class="card-body">
                    @if (Model != null)
                    {
                        <div class="text-center">
                            <div class="form-group">
                                <label>Nome:</label>
                                <p>@Html.DisplayFor(model => model.Nome)</p>
                            </div>
                            <div class="form-group">
                                <label>Email:</label>
                                <p>@Html.DisplayFor(model => model.Email)</p>
                            </div>
                            <div class="form-group">
                                <label>Departamento:</label>
                                <p>@Html.DisplayFor(model => model.Departamento.Nome)</p>
                            </div>
                            <div class="form-group">
                                <label>Local de Trabalho:</label>
                                <p>@Html.DisplayFor(model => model.LocalTrabalho)</p>
                            </div>
                            <div class="form-group">
                                <label>Data de Contratação:</label>
                                <p>@Html.DisplayFor(model => model.DataContratacao)</p>
                            </div>
                            <div class="form-group">
                                <label>É administrador:</label>
                                <p>@Html.DisplayFor(model => model.IsAdmin)</p>
                            </div>


                            <div class="form-group">
                                <label>Funcionário há: </label>
                            
                            <p>
                                @{
                                    DateTime dataContratacao = Model?.DataContratacao ?? DateTime.MinValue;
                                    DateTime dataAtual = DateTime.Now;
                                    TimeSpan tempoContratacao = dataAtual - dataContratacao;
                                        if (tempoContratacao.TotalDays >= 365) // Verifica se é mais de um ano
                                        {
                                            int anos = (int)(tempoContratacao.TotalDays / 365);
                                            <text>@anos anos</text>
                                        }
                                        else if (tempoContratacao.TotalDays >= 30) // Verifica se é mais de um mês
                                        {
                                            int meses = (int)(tempoContratacao.TotalDays / 30);
                                            <text>@meses meses</text>
                                        }
                                        else
                                        {
                                            <text>@tempoContratacao.Days dias</text>
                                        }
                                    
                                }
                            </p>
                            </div>


                        </div>
                    }
                    else
                    {
                        <p>Usuário não encontrado</p>
                    }
                    <a asp-action="Edit" asp-route-id="@Model?.UsuarioId" class="custom-filter-button">Editar</a>
                    <a asp-action="Index" class="custom-filter-button">Voltar</a>
                </div>
            </div>
        </div>
    </div>
</div>

 