@model IEnumerable<PFinal_v2.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h2 style="margin-bottom: 40px;">Funcionários cadastrados</h1>


@* <p>
    <a asp-action="Create">Create New</a>
</p> *@

<form asp-controller="Usuarios" asp-action="Index">
        <p>
            <input type="text" name="SearchString" placeholder="Nome" class="custom-search-input" />
            <input type="submit" value="Filter" class="custom-filter-button" />
        </p>
    </form>

<table class="table">
        <table class="table custom-table" style="margin-top: 40px;">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Data de contratação
                    <th scope="col">Administrador</th>
                    <th scope="col">Senha
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataContratacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Senha)
                </td>
                <td>
                            <a asp-action="Edit" asp-route-id="@item.UsuarioId"><i class="bi bi-pencil custom-white-icon"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.UsuarioId"><i class="bi bi-search custom-white-icon"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.UsuarioId"><i class="bi bi-trash custom-white-icon"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

        <a href="@Url.Action("Index", "Admin")" class="custom-filter-button" style="margin-bottom: 40px;">Voltar </a>
